# Active network (testnet | mainnet)
VITE_NETWORK=testnet

# Testnet
VITE_TESTNET_RPC_URL=https://soroban-testnet.stellar.org
VITE_TESTNET_IDENTITY_REGISTRY_ID=
VITE_TESTNET_CREDENTIAL_MANAGER_ID=
VITE_TESTNET_REPUTATION_ID=

# Mainnet
VITE_MAINNET_RPC_URL=https://soroban-mainnet.stellar.org
VITE_MAINNET_IDENTITY_REGISTRY_ID=
VITE_MAINNET_CREDENTIAL_MANAGER_ID=
VITE_MAINNET_REPUTATION_ID=

# WalletConnect
VITE_WALLETCONNECT_PROJECT_ID=
